@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
/* testing importing fonts^^ */
html {
  height: 100%;
  width: 100%;

  /* testing fonts  \/ */
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;

}
/* start of css for navbar */
#NavUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#b3b3b3;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  font-size: 20px;
}
li {
  float: left;
  display: flex;
  align-content: center;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-color:none;
  border-width:1px;
  border-radius: 5px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:#9e9a9a;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  border-radius: 5px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  height: fit-content;
}
/* end of navbar css */

.hourContainer div{
  border: 5px solid #b3b3b3;
  background-color: #b3b3b3;
  width: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

/* module like containers */
.module{
  display: block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-left: .5%;
  padding-right: .5%;
  padding-top: 0.1px;
  margin-bottom: 2.5%;
  width: 44%;
  height: auto;
  border-radius: 25px;
  background-color:#d4d4d4;
  padding-bottom:2.5px;
}
.innerContainer{
  background-color:white;
  margin:1%;
  padding: 1%;
  border-radius: 25px;
  display: block;
}
.moduleHeader{
  padding: 0px;
  margin:10px;
  font-size: 175%;
  margin-bottom: 0px;
  margin-top:10px;
  padding-bottom: 0px;
  padding-left: 5px;
}
.module img{
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 1%;
  height: auto;
  display: flex;
  justify-content: center;
}
.module button{
  margin-right:25%;
  margin-top: 3%;
  float: right;
  color: white;
  background-color: dodgerblue;
  border-radius: 25px;
  border:none;
  font-size: 150%;
  cursor: pointer;
  padding: 1.5%;
}