html {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif
}

body {
    background: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    /* dark mode */
    body {
        background-color: #121212;
        /* Dark background */
        color: #f7f7f7;
        /* Light text color */
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif
    }

    .module {
        background-color: rgb(36, 36, 36);
        /* Dark module background */
        color: white;
        /* Light text color */
    }

    table {
        background-color: #3f3e3e;
        /* Dark table background */
        color: #f7f7f7;
        /* Light text color */
        border: #070707;
    }

    tr {
        color: #f7f7f7;
    }

    th {
        color: #f7f7f7;
    }

    .innerContainer {
        background-color: #3f3e3e;
    }

    .highlight {
        background-color: #535353;
    }

    .schedule-btn {
        background-color: #3f3e3e;
    }

    .schedule-btn:hover {
        background-color: #535353;
    }

    .modal-content {
        background-color: #535353;
        border-color: #535353;
    }

    .modal-lg {
        background-color: #535353;
    }

    .hourContainer div {
        border: 5px solid #2b2c2c;
        /* Color is different from others because it shows differently, PLEASE don't change it */
        background-color: #575757;
        color: #ffffff;
    }
}