html {
    height: 100%;
    width: 100%;
  
    /* testing fonts  \/ */
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.container, h1, p {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group{
    
}


